@model MusicTahp.Models.Music

@{
    ViewData["Title"] = "Chi Tiết";
}

<h1>Chi tiết</h1>

<div>
    <h4>Music</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCaKhuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCaKhuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaSi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Trở về đơn hàng</a>
</div>
